@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}


/*********** admin header styling **********/

#admin-logout {
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

#admin-logout:hover {
    color: #ef2e31;
    transition: 0.3s;
}


/*********** admin dashboard styling **********/

.card {
    background-color: #71b2f2;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 8px 5px 5px #808285;
}

.dashboard_img {
    width: 70px;
    justify-content: center;
}

.dashboard_content h4 {
    display: block;
    margin-top: 5px;
    font-size: 20px;
}

.dashboard_content h5 {
    color: #ef2e31;
}


/************************** for sidebar ***********************************/


/* The sidebar menu */

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    transform: translateX(-100%);
    background-color: #aaacaf;
}


/* The sidebar links */

.sidebar .sidebar_menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar .side-header {
    padding-top: 12px;
    padding-left: 30px;
    margin-bottom: 8px;
    color: #fff;
    border-bottom: 2px solid yellow;
    background-color: #5aa2ea;
}

.sidebar_menu {
    background-color: #aaacaf;
}

.sidebar_menu .closebtn:hover {
    color: #ff0000;
}

.sidebar_menu .menu_btn:hover {
    background-color: #686b6f;
}


/* Position and style the close button (top right corner) */

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 34px;
    padding: 10px 20px;
}


/* Style for right_sidebar */

.container_right_side {
    position: relative;
}

.container_right_side .btn_add_right_side {
    position: absolute;
    top: 0;
    right: 0;
}


/* The button used to open the sidebar */

.openbtn {
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    color: #fff;
    background-color: #584e46;
}

.openbtn:hover {
    color: #ECDAC9;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    /* If you want a transition effect */
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar a {
        font-size: 18px;
    }
}


/************************** product table styling *********************************/

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    margin-bottom: 50px;
}

td,
th {
    padding: 10px 16px;
    text-align: center;
}

th {
    background-color: #71b2f2;
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: bold;
}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}


/* ****************************   footer  *************************** */

.footer-hover {
    color: #000;
}

.footer-hover:hover {
    color: #ECDAC9;
    text-decoration: none;
}