@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/background_login.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
}

.wrapper h1 {
    display: block;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 60px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 50px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    left: 20px;
    top: 32%;
    font-size: 20px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 30px;
    transition: 0.3s;
}

.wrapper .btn:hover {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s;
}

.passIcon {
    transform: translateX(354px);
    top: 37% !important;
}

.passIcon.hide {
    display: none;
}

.notice {
    text-align: center;
    color: rgb(255, 0, 0);
}